<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="iSASDB" connectionString="Data Source=DESKTOP-F3MMHMG\ERP;Database=iSAS_SMHSS;UID=sa ;Password=sai$500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <!--Default StudentRegistration Page Values-->
    <add key="RegAmount" value="55" />
    <add key="InterViewDate" value="25/11/2017" />
    <add key="Sunway_CurrentTimeTableID" value="114" />
    <add key="DailyAttn_MarkLastDateCount" value="7" />
    <add key="DateAsOn" value="01/01/2018" />
    <add key="UpperAge" value="5" />
    <add key="LowerAge" value="4" />
    <add key="fireBaseKey" value="AAAA9zmf1bc:APA91bEkO3TV3ej7_023xvdVxPP6DEbzVDBR6twopg485-06c4KjtKFfx1qmjZ76AcsBWSV-jE8mii8RV9gwnu2OINgH_SgRg1mlWE1PoudD6PM09ZU91hTRXXYlFqo8wreLtqnqijk3" />
    <!--StudentRegistration Page Default Values END-->

    <!--Email Cofiguration-->
    <add key="PortName" value="smtp.gmail.com" />
    <add key="FromMailId" value="shailendrakmr70@gmail.com" />
    <add key="PortNo" value="587" />
    <add key="UserName" value="shailendrakmr70@gmail.com" />
    <add key="Password" value="A095750953" />
    <!--Email Cofiguration End-->

    <!--Default Common Values-->
    <add key="PrintSchoolCopyReceipt" value="true" />
    <add key="DailyAttnSendSMSCheck" value="false" />
    <add key="IsCheckSMSBalanceReq" value="false" />
    <add key="SwithcToHttps" value="true" />
    <add key="CountryID" value="COU01" />
    <add key="StateID" value="ST001" />
    <add key="CityID" value="CT00000001" />
    <!--<add key="SMSReportKeyBasedOnIP" value="q3YUG8flpRuhZYMPXXX" />-->
    <add key="SMSReportKeyBasedOnIP" value="fPdsZ3qTM8ua9W4i" />
    
    
    <add key="BookIssueDays" value="7" />
    <add key="ConnectedPrinterName" value="Microsoft Print to PDF" />

    <add key="ClientWiseLoginEnabled" value="NO" />

    <add key="ClientWise_TCPrintPageName" value="" />
    <!--~/Views/Student_TC/ClientWise_StudTC/PrintTC_WPS.cshtml-->
    <add key="ClientWise_LoginPageName" value="~/Views/ClientWiseLoginPages/Login_ES3.cshtml" />
    <!--Default Common Values End-->

    <add key="SendStudentAbsentees" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NoOfMonthToFeePaid" value="2" />
    <add key="FeeReceiptMode" value="CRYSTAL" />
    <!--CRYSTAL/HTML-->

  </appSettings>
  <system.web>
    <sessionState timeout="60" mode="InProc"></sessionState>

    <!--<compilation debug="true" targetFramework="4.5" />-->


    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>


    <!--Time 10 MIN, LENGHT : 20MB-->
    <httpRuntime targetFramework="4.5" executionTimeout="600" maxRequestLength="20000000" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" stateNetworkTimeout="10" ></sessionState>-->
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <location>
    <system.webServer>
      <security>
        <requestFiltering>
          <!--Size in Bytes : 20 MB -->
          <requestLimits maxAllowedContentLength="20000000" />
        </requestFiltering>
      </security>



      <httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="Redirect">
        <!--<remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <remove statusCode="502" />
      <remove statusCode="503" />
      <remove statusCode="504" />-->
        <!--<error statusCode="400" path="/ErrorHandler/BadRequest" responseMode="Redirect" />
      <error statusCode="401" path="/ErrorHandler/UnauthorizeAccess" responseMode="Redirect" />
      <error statusCode="403" path="/ErrorHandler/Forbidden" responseMode="Redirect" />
      <error statusCode="404" path="/ErrorHandler/NotFound" responseMode="Redirect" />
      <error statusCode="500" path="/ErrorHandler/InternalServerError" responseMode="Redirect" />
      <error statusCode="502" path="/ErrorHandler/BadGateway" responseMode="Redirect" />
      <error statusCode="503" path="/ErrorHandler/ServiceUnavailable" responseMode="Redirect" />
      <error statusCode="504" path="/ErrorHandler/GatewayTimeout" responseMode="Redirect" />-->
      </httpErrors>


      <validation validateIntegratedModeConfiguration="false" />
      <directoryBrowse enabled="true" />
      <modules runAllManagedModulesForAllRequests="true" />

      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00.00:00:10" />
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="public" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.32.2602.0" newVersion="1.32.2602.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
  </runtime>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>

  <location path="Images">
    <system.webServer>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  
</configuration>
