@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a>
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow">504</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i>Oops! Geteway Timeout.</h3>
            <p>
                Please contact your administrator for more clearfication.
                Meanwhile, you may <a href="@Url.Action("Dashboard", "Dashboard")">return to dashboard</a>.
            </p>
            <form class="search-form">
                <!-- /.input-group -->
            </form>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
